<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl7s6TR6YutL_rNpH0FxUrEzzScTrO4lc</string>
	<key>GCM_SENDER_ID</key>
	<string>790051385168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinemate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movie-tracker-8b562</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-tracker-8b562.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790051385168:ios:27bf4b08adaae6fe454655</string>
</dict>
</plist>